:focus, :active {outline: none;}
ul li {list-style: none;}

body {
    background: #858585;
    padding: 250px;
}

.main-block {
    max-width: 835px;
    margin: 0 auto;
}

.head-block {
    background-color:#2f4f4f;
    text-align: center;
}

.head-block h1 {
    color: white;
}

.input-block input {
    width: 371px;
    height: 29px;
}

.input-block button {
    width: 124px;
    height: 35px;
    margin-left: -5px;
    color: gray;
}

.list {
    max-width: 835px;
    height: 150px;
    font-size: 24px;
    border: 1px solid black;
    background-color: aliceblue;
    overflow: scroll;
    overflow-x: hidden;   
}

.list li:hover {
    background-color: rgba(128, 128, 128, 0.5);	
}

.list_el {
    margin-left: -15px;
    height: 24px;
    position: relative;
}

.list span {
    padding-left: 3px;
}

.list img {
    position: absolute;
    right: 10px;
    width: 24px;
    height: 24px;
}

.list img:hover {
    width: 25px;
    height: 25px;
}

.checked {
    border: 1px solid green;
    border-radius: 10px;
}




